<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fireking.ap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AndroidPracticeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".custom.anim.motionlayout.MotionLayoutV2Activity"></activity>
        <activity android:name=".custom.anim.motionlayout.MotionSampleActivity" />
        <activity android:name=".custom.anim.motionlayout.MotionLayoutV1Activity" />
        <activity android:name=".custom.mpchart.basic.PieChartActivity" />
        <activity android:name=".custom.mpchart.basic.LineChartActivity" />
        <activity android:name=".custom.mpchart.MPChartActivity" />
        <activity android:name=".custom.basic.DrawLayoutActivity" />
        <activity android:name=".custom.recyclerview.decoration.ItemDecorationV1Activity" />
        <activity android:name=".custom.font.TestFontActivity" />
        <activity android:name=".custom.image.MatrixTransformActivity" />
        <activity android:name=".custom.image.GifLoadByAnimatedImageDrawableActivity" />
        <activity android:name=".custom.image.GifLoadByCanvasActivity" />
        <activity android:name=".custom.livedata.LiveDataViewModelActivity" />
        <activity android:name=".custom.image.GifLoadActivity" />
        <activity android:name=".custom.image.ImageActivity" />
        <activity android:name=".custom.image.ImageTestActivity" />
        <activity android:name=".custom.thread.ThreadActivity" />
        <activity android:name=".custom.restudy.HandlerV1Activity" />
        <activity android:name=".custom.restudy.RestudyActivity" />
        <activity android:name=".custom.viewevent.ViewPagerPlusViewPagerActivity" />
        <activity android:name=".custom.viewevent.ViewEventSampleActivity" />
        <activity android:name=".custom.recyclerview.ViewPagerRecyclerOOMViewActivity" />
        <activity android:name=".custom.recyclerview.RecyclerViewStickyActivity" />
        <activity android:name=".custom.recyclerview.diffutil.DiffUtil2Activity" />
        <activity android:name=".custom.recyclerview.diffutil.DiffUtilActivity" />
        <activity android:name=".custom.viewgroup.DouyinHeartPortraitActivity" />
        <activity android:name=".custom.viewgroup.TextAndViewAlignActivity" />
        <activity android:name=".custom.constraintlayout.ConstaintLayoutV1" />
        <activity android:name=".custom.constraintlayout.ConstraintLayoutSample" />
        <activity android:name=".custom.anim.AnimActivity" />
        <activity android:name=".custom.notification.NotificationActivity" />
        <activity
            android:name=".custom.recyclerview.WanNianLiRecyclerView3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".custom.windowmanager.WindowManagerSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.newfunction.NewFunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.newfunction.ViewBindingSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.recyclerview.WanNianLiRecyclerView2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".custom.nested.NestedSample4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.nested.NestedSample3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.nested.NestedSample2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.nested.NestedSample1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.nested.NestedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.recyclerview.WanNianLiHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".custom.viewgroup.ShaderCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.recyclerview.RecyclerViewSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.viewgroup.RadarLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.viewgroup.VerifyCodeInputLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.viewgroup.CustomViewGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.bezier.BasicBezierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.bezier.SinusoidalWaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.bezier.DoubleWaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.flip.NumberFlipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.flip.BasicFlipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.path.PathSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.path.PathMeasureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.path.BasicPathActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.basic.PieChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.basic.SpiderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.basic.LineChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.basic.CircleColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.basic.HistogramActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.basic.CanvasBasicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.bezier.BezierSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>